<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - Will Leinweber</title>
   <meta name="author" content="Will Leinweber" />
   <link href="http://feeds.feedburner.com/bitfission" rel="alternate" title="Will Leinweber" type="application/atom+xml" />

  <!-- openid delegation -->
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate"href="http://wl.myopenid.com/" />
  <link rel="openid2.local_id" href="http://wl.myopenid.com" />
  <link rel="openid2.provider" href="http://www.myopenid.com/server" />
</head>
<script>
  if (window.self === window.top) { // uh oh! unframed!!
    var title = document.title + ' - '
    setInterval(function(){
      title = title.slice(1) + title[0];
      document.title = title;
    }, 1000)
    var template = '<FRAMESET ROWS="80px,*">'
    template +=    '  <FRAME SRC="/title.html" NAME=TITLE SCROLLING=NO>'
    template +=    '  <FRAMESET COLS="222px,*">'
    template +=    '    <FRAME SRC="/side.html" NAME=side>'
    template +=    '    <FRAME SRC="'+ window.location.href  +'" NAME=main>'
    template +=    '  </FRAMESET>'
    template +=    '</FRAMESET>'
    console.log(template)
    document.getElementsByTagName('html')[0].innerHTML = template
  }
</script>

  {{ content }}


<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3204018-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</html>
